.contact__input{
    width: 590px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;
    border-style: none;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-left: 20px;
}

.enviar{
display: flex;
width: 270px;
height: 60px;
padding: 20px 30px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 100px;
background: #E38C26;
border-style: none;
color: #FFF;
}

.form__inputs{
    display: flex;
    flex-direction: column;
}