.hero_section {
    height: 100%;
    max-height: 850px;
    padding: 120px 0 0 0px;
    display: flex;
    overflow: hidden;
    margin-bottom: -40px;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.hero_section .content_block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 90px;
    animation: fadeleft 1s ease-in-out forwards;
}

.hero_section .content_block .text_container {
    display: flex;
    flex-direction: column;
    gap: 41px;
}

.hero_section .content_block .text_container .text_title {
    width: 580px;
    height: 273px;
    flex-shrink: 0;
}

.hero_section .content_block .text_container .text_title h1 {
    color: #00578E;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hero_section .content_block .text_container .text_title h1 span {
    display: block;
    color: #00578E;
    font-size: 72px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.hero_section .content_block .text_container .text_subtitle {
    width: 470px;
    height: 26px;
    flex-shrink: 0;
    position: relative;
}

.hero_section .content_block .text_container .text_subtitle p {
    color: #9C9C9C;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.hero_section .content_block .button_container {
    display: flex;
    gap: 30px;
    z-index: 1;
    margin-top: 90px;
    margin-bottom: 50px;
}

.hero_section .content_block .button_container a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.hero_section .content_block .button_container .btn_1 {
    background-color: #E38C26;
    display: flex;
    width: 250px;
    height: 60px;
    padding: 20px 30px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #e8a04f;
    }
}

.hero_section .content_block .button_container .btn_2 {
    background-color: #1E1E1E;
    display: flex;
    width: 210px;
    height: 60px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #343434;
    }
}

.hero_section .content_block .users_container {
    display: flex;
    gap: 18px;
}

.hero_section .content_block .users_container .users_sub_container {
    display: flex;
    padding-left: 20px;
}

.hero_section .content_block .users_container .users_sub_container .user_circle {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 60px;
    border: 1px solid #FFF;
    margin-left: -20px;
}

.hero_section .content_block .users_container .users_sub_container .plus {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
}

.hero_section .content_block .users_container .users_desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero_section .content_block .users_container .users_desc span {
    color: #9C9C9C;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.hero_section .content_block .users_container .users_desc p {
    color: #9C9C9C;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hero_section .banner_container {
    animation: faderight 1s ease-in-out forwards;
    z-index: -1;

}

.hero_section .banner_container div {
    margin-top: 120px;
    margin-left: 87px;
    width: 490px;
    height: 490px;
    flex-shrink: 0;
    position: relative;
    margin-right: 163px;
}

.hero_section .banner_container div .big_circle {
    position: absolute;
    width: 490px;
    height: 490px;
    flex-shrink: 0;
    z-index: -1;
}

.hero_section .banner_container div .small_circle {
    position: absolute;
    right: -43px;
    top: 47px;
    width: 133px;
    height: 133px;
    flex-shrink: 0;
    z-index: -1;
}

.hero_section .banner_container {
    position: relative;
    height: 100%;
    width: auto;
}

.hero_section .banner_container .img_container2 {
    position: absolute;
    top: -70px;
    left: -200px;
    width: auto;
    height: 100%;
    z-index: -1;
}

.hero_section .banner_container .img_container2 .home_banner {
    height: 680px;
}


.wp-modal {
    width: 1000px;
    height: 500px;
    max-width: max-content;
}

.modal-content {
    padding: 49px 106px 73px;
    border-radius: 30px;
    background: #26D366;
    align-items: center;
}

.modal-header {
    border: none;
}

.modal-body {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 788px;
    height: 80px;
}

.modal-footer {
    border: none;
}

.modal-header img {
    width: 293px;
    height: 165px;
}

.modal_close {
    text-decoration: none;
    display: flex;
    width: 290px;
    height: 60px;
    padding: 20px 30px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: #FFF;
    color: #26D366;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    border: none;
    transition: all 0.3s;

    &:hover {
        background-color: #bbbbbb;
        color: #ffffff;
    }
}

@media screen and (max-width: 1600px) {
    .hero_section {
        justify-content: flex-start;
        gap: 0;
        padding: 120px 0 0 120px;
    }
}

@media screen and (max-width: 1300px) {
    .hero_section {
        padding: 96px 0 0 96px;
        margin-bottom: -32px;
    }

    .hero_section .content_block {
        padding-bottom: 72px;
    }

    .hero_section .content_block .text_container {
        gap: 32.8px;
    }

    .hero_section .content_block .text_container .text_title {
        width: 464px;
        height: 218.4px;
    }

    .hero_section .content_block .text_container .text_title h1 {
        font-size: 57px;
    }

    .hero_section .content_block .text_container .text_title h1 span {
        font-size: 57px;
    }

    .hero_section .content_block .text_container .text_subtitle {
        width: 376px;
        height: 20.8px;
    }

    .hero_section .content_block .text_container .text_subtitle p {
        font-size: 16px;
    }

    .hero_section .content_block .button_container {
        gap: 24px;
        margin-top: 72px;
        margin-bottom: 40px;
    }

    .hero_section .content_block .button_container a {
        font-size: 16px;
    }

    .hero_section .content_block .button_container .btn_1 {
        width: 200px;
        height: 48px;
        padding: 16px 24px;
    }

    .hero_section .content_block .button_container .btn_2 {
        width: 168px;
        height: 48px;
        gap: 8px;
    }

    .hero_section .content_block .users_container {
        gap: 14.4px;
    }

    .hero_section .content_block .users_container .users_sub_container {
        padding-left: 16px;
    }

    .hero_section .content_block .users_container .users_sub_container .user_circle {
        width: 60px;
        height: 60px;
        margin-left: -20px;
    }

    .hero_section .content_block .users_container .users_desc span {
        font-size: 24px;
    }

    .hero_section .content_block .users_container .users_desc p {
        font-size: 16px;
    }

    .hero_section .banner_container div {
        margin-top: 96px;
        margin-left: 69.6px;
        width: 392px;
        height: 392px;
        margin-right: 130.4px;
    }

    .hero_section .banner_container div .big_circle {
        width: 392px;
        height: 392px;
    }

    .hero_section .banner_container div .small_circle {
        right: -34.4px;
        top: 37.6px;
        width: 106.4px;
        height: 106.4px;
    }

    .hero_section .banner_container .img_container2 {
        top: -56px;
        left: -160px;
    }

    .hero_section .banner_container .img_container2 .home_banner {
        height: 544px;
    }

    .wp-modal {
        width: 800;
        height: 400px;
    }

    .modal-content {
        padding: 39px 84px 58px;
    }

    .modal-body {
        font-size: 19px;
        width: 630px;
        height: 64px;
    }

    .modal-header img {
        width: 234px;
        height: 132px;
    }

    .modal_close {
        width: 232px;
        height: 48px;
        padding: 16px 24px;
        font-size: 19px;
    }
}

@media screen and (max-width: 1000px) {
    .hero_section {
        flex-direction: column;
        padding: 26px 0 0;
        align-items: center;
    }

    .hero_section .content_block {
        padding: 0;
    }

    .hero_section .content_block .text_container {
        gap: 15px;
    }

    .hero_section .content_block .text_container .text_title {
        width: 342px;
        height: 59px;
        text-align: center;
    }

    .hero_section .content_block .text_container .text_title h1 {
        font-size: 24px;
    }

    .hero_section .content_block .text_container .text_title h1 span {
        font-size: 24px;
    }

    .hero_section .content_block .text_container .text_subtitle {
        width: 342px;
        height: 26px;
        text-align: center;
    }

    .hero_section .content_block .text_container .text_subtitle p {
        font-size: 14px;
    }

    .hero_section .content_block .button_container {
        margin: 35px 0;
        gap: 18px;
    }

    .hero_section .content_block .button_container .btn_1,
    .hero_section .content_block .button_container .btn_2 {
        width: 162px;
        padding: 20px 22px;
        font-size: 12px;
    }


    .hero_section .content_block .users_container {
        display: none;
    }

    .hero_section .banner_container {
        width: 100%;
        height: 500px;
    }

    .hero_section .banner_container div {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .hero_section .banner_container div .big_circle {
        width: 100%;
        height: auto;
    }

    .hero_section .banner_container div .small_circle {
        display: none;
    }

    .hero_section .banner_container .img_container2 {
        width: 100%;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero_section .banner_container .img_container2 .home_banner {
        transform: scaleX(-1);
        height: 100%;
    }
}

@media screen and (max-width: 900px) {
    .wp-modal {
        width: 90%;
    }

    .modal-body {
        font-size: 16px;
        width: auto;
        height: auto;
    }
}

@media screen and (max-width: 700px) {
    .hero_section{
        margin-bottom: -15px;
    }
    .wsp_section div p {
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {
    .hero_section .banner_container {
        height: 400px;
    }

    .modal-header img {
        width: 50%;
        height: auto;
    }

    .modal-content {
        padding: 20px 0;
    }

    .modal-header {
        justify-content: center;
    }

    .modal_close {
        width: 232px;
        height: 48px;
        padding: 16px 24px;
        font-size: 16px;
        margin: 0;
    }

    .wp-modal {
        width: auto;
    }
}

@media screen and (max-width: 400px) {
    .hero_section .banner_container {
        height: 300px;
    }
}

@keyframes fadeleft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes faderight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
/* @keyframes opacity{
    from{ 
        display: block;
        opacity: 1;
    }
    to{
        display: none;
        opacity: 0;
    }
} */