#ImprimeSection__container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.ImprimeSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
}

.img__container {
  width: 100%;
  max-width: 600px;
}

#mujerImg {
  width: 100%;
}

.imprime {
  color: #1e1e1e;
  font-size: 45px;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  margin-bottom: 14px;
}

.h3__orange {
  color: #e38c26;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.imprime__p {
  color: #9c9c9c;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 100%;
  max-width: 500px;
  padding: 0 20px;
  height: auto;
  margin-bottom: 22px;
  flex-shrink: 0;
}

.btn {
  border-radius: 100px;
  padding: 20px 30px;
  border: none;
  width: 270px;
  height: 60px;
  gap: 10px;
  flex-shrink: 0;
}

.habla {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00578e;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 162px;
  height: 36px;
  padding: 20px 22px;
  transition: all 0.3s ease;
  &:hover{
    background-color: #146ca3;
    color: #FFF;
  }
  &:active{
    background-color: #146ca3 !important;
    color: #FFF !important;
  }
}

.venta {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e38c26;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 162px;
  height: 36px;
  padding: 20px 22px;
  transition: all 0.3s ease;
  &:hover{
    background-color: #e8a04f;
    color: #FFF;
  }
  &:active{
    background-color: #e8a04f !important;
    color: #FFF !important;
  }
}

.ImprimeSection__text {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ImprimeSection__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 18px;
}

@media (min-width: 1000px) {
  #ImprimeSection__container {
    padding: 50px 20px 0px;
  }

  #ImprimeSection__container {
    display: flex;
    justify-content: space-between;
  }

  .ImprimeSection {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .img__container {
    width: 400px;
    height: 100%;
  }

  #mujerImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .imprime {
    color: #1e1e1e;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 480px;
    margin-bottom: 2rem;
    text-align: start;
  }

  .h3__orange {
    color: #e38c26;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .imprime__p {
    text-align: start;
    color: #9c9c9c;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 0;
    max-width: 590px;
  }

  .btn {
    border-radius: 100px;
    padding: 20px 30px;
    border: none;
    width: 270px;
    height: 60px;
    gap: 10px;
    flex-shrink: 0;
  }

  .habla {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00578e;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .venta {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e38c26;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .ImprimeSection__text {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .ImprimeSection__btn button {
    margin: 0.5rem 0;
    margin-right: 20px;
  }

  .ImprimeSection__btn {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  #ImprimeSection__container {
    padding: 20px 120px 0;
  }

  .ImprimeSection__text {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1300px) {
  #ImprimeSection__container {
    padding: 20px 100px 0;
  }

  .ImprimeSection {
    gap: 100px;
  }
}