
#ImprimeSection__container{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.ImprimeSection{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

#mujerImg{
width: 480px;
flex-shrink: 0;
}
.imprime{
color: #1E1E1E;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 480px;
margin-bottom: 2rem;
}


.h3__orange{
color: #E38C26;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.imprime__p{
color: #9C9C9C;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;

width: 590px;
height: 100px;
flex-shrink: 0;
}


.btn{
    border-radius: 100px;
    padding: 20px 30px;
    border: none;
    width: 270px;
    height: 60px;
    gap: 10px;
    flex-shrink: 0;
    

}

.habla{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00578E;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.venta{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E38C26;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.ImprimeSection__text{
    padding-left: 6rem;
    display: flex;
    flex-direction: column;
}

.ImprimeSection__btn button{
     margin: 0.5rem 0;
     margin-right: 20px;
     
}

.ImprimeSection__btn{
    display: flex;
    
    align-items: flex-start;

}