#ImprimeSection__container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.ImprimeSection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  flex-direction: column;
}

#mujerImg {
  width: 360px;
  flex-shrink: 0;
}
.imprime {
  color: #1e1e1e;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 450px;
  margin-bottom: 2rem;
}

.h3__orange {
  color: #e38c26;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.imprime__p {
  color: #9c9c9c;
  font-size: 1em;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  width: 450px;
  height: 100px;
  flex-shrink: 0;
}

.btn {
  border-radius: 100px;
  padding: 20px 30px;
  border: none;
  width: 270px;
  height: 60px;
  gap: 10px;
  flex-shrink: 0;
}

.habla {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00578e;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.venta {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e38c26;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.ImprimeSection__text {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ImprimeSection__btn button {
  margin: 0.5rem 0;
  margin-right: 20px;
}

.ImprimeSection__btn {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 768px) {
  #ImprimeSection__container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }
  .ImprimeSection {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    flex-direction: row;
  }

  #mujerImg {
    width: 480px;
    flex-shrink: 0;
  }
  .imprime {
    color: #1e1e1e;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 480px;
    margin-bottom: 2rem;
  }

  .h3__orange {
    color: #e38c26;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .imprime__p {
    color: #9c9c9c;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    width: 590px;
    height: 100px;
    flex-shrink: 0;
  }

  .btn {
    border-radius: 100px;
    padding: 20px 30px;
    border: none;
    width: 270px;
    height: 60px;
    gap: 10px;
    flex-shrink: 0;
  }

  .habla {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00578e;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .venta {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e38c26;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .ImprimeSection__text {
    padding-left: 6rem;
    display: flex;
    flex-direction: column;
  }

  .ImprimeSection__btn button {
    margin: 0.5rem 0;
    margin-right: 20px;
  }

  .ImprimeSection__btn {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
}
