.services_section {
  background-color: #00578e;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 105px 0 0;

  justify-content: center;
}

.services_section .services_header {
  display: flex;
  justify-content: space-between;
  width: 1420px;
}

.services_section .services_header .services_subtitle {
  width: 535px;
  height: 48px;
  flex-shrink: 0;
}

.services_section .services_header .services_subtitle h3 {
  color: #fff;
  text-align: right;
  font-size: 20px;
  font-weight: 600;
}

.line {
  width: 100%;
  max-width: 1420px;
  height: 2px;
  background-color: #fff;
  margin-bottom: 60px;
  margin-top: 30px;
}

.services_header div h2 {
  color: #fff;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.services_header div h2 span {
  color: #e38c26;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.services_header div h3 {
  color: #fff;
  text-align: right;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.services_header div h3 span {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.services_section .cards_container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.services_section .cards_container .article {
  width: 387px;
  height: 440px;
  flex-shrink: 0;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.services_section .cards_container .article .art_header {
  padding-top: 40px;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
}

.services_section .cards_container .article .art_header h3 {
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.services_section .cards_container .article .art_header a {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(255, 255, 255, 0.687);
  }
}

.services_section .cards_container .article .line2 {
  width: 327px;
  height: 2px;
  background: #fff;
}

.services_section .cards_container .article .art_main {
  width: 320px;
  height: 50px;
  flex-shrink: 0;
}

.services_section .cards_container .article .art_main p {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.services_section .cards_container .article .art_footer {
  width: 367px;
  height: 220px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #d9d9d9;
  overflow: hidden;
}

.services_section .cards_container .article .art_footer img {
  height: 100%;
}

.services_section .cards_container .art_1 {
  background-color: #007fcf;
}

.services_section .cards_container .art_2 {
  background-color: #e38c26;
}

.services_section .cards_container .art_3 {
  background-color: #007fcf;
}

@media screen and (max-width: 1600px) {
  .services_section {
    padding: 105px 120px 100px;
  }

  .services_section .services_header {
    width: 100%;
  }
}

@media screen and (max-width: 1300px) {
  .services_section {
    padding: 84px 96px 80px;
  }

  .services_section .services_header .services_subtitle {
    width: 428px;
  }

  .services_section .services_header .services_subtitle h3 {
    font-size: 16px;
  }

  .line {
    width: 100%;
    height: 2px;
    margin-bottom: 60px;
    margin-top: 30px;
  }

  .services_header div h2 {
    font-size: 38.4px;
  }

  .services_header div h2 span {
    font-size: 38.4px;
  }

  .services_header div h3 {
    font-size: 16px;
  }

  .services_header div h3 span {
    font-size: 16px;
  }

  .services_section .cards_container {
    gap: 20px;
  }

  .services_section .cards_container .article {
    width: 309.6px;
    height: 352px;
    gap: 16px;
  }

  .services_section .cards_container .article .art_header {
    padding: 32px 24px 0;
  }

  .services_section .cards_container .article .art_header h3 {
    font-size: 25.5px;
  }

  .services_section .cards_container .article .art_header a {
    width: 40px;
    height: 40px;
  }

  .services_section .cards_container .article .line2 {
    width: 261.6px;
    height: 2px;
  }

  .services_section .cards_container .article .art_main {
    width: 256px;
    height: 40px;
  }

  .services_section .cards_container .article .art_main p {
    font-size: 13px;
  }

  .services_section .cards_container .article .art_footer {
    width: 293.6px;
    height: 176px;
  }
}

@media screen and (max-width: 1000px) {
  .services_section {
    padding: 24px;
    border-radius: 20px;
  }

  .services_section .services_header {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .services_section .cards_container {
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 600px) {
  .services_section .services_header {
    width: 100%;
  }

  .services_section .services_header div h2 {
    font-size: 24px;
  }

  .services_section .services_header div h2 span {
    font-size: 24px;
  }

  .services_section .services_header .services_subtitle {
    width: 100%;
  }

  .services_section .services_header .services_subtitle h3 {
    text-align: center;
    font-size: 14px;
  }

  .services_section .services_header .services_subtitle h3 span {
    font-size: 14px;
  }
}

@media screen and (max-width: 405px) {
  .services_section .services_header .services_subtitle h3 span {
    display: inline-block;
    width: 100%;
  }
}
