.Contact__container{
    border-radius: 50px;
    background-color: #00578E;
    width: 100%;
    height: 800px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
}

.contact__icon__orange{
width: 40px;
height: 40px;
flex-shrink: 0;
}

.contact__columnas{
    display: flex;
    align-items: center;
}

.contact__h3{
color: #FFFFFF;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.contact__p{
    width: 500px;
height: 78px;
flex-shrink: 0;
color: #FFFFFF;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.6px;
margin-bottom: 50px;
}

.contact__redes{
    display: flex;
    flex-direction: column;
}

.contact__red{
    display: flex;
    color: #FFFFFF;
    padding: 10px;
    align-items: center;
}

.contact__red p{
    padding-left: 10px;
}

.contact__columna__uno{
    margin-right: 6rem;
}
.contact__columna__dos{
    margin-left: 6rem;
}

.contact__hr{
    margin-top: 50px;
    margin-bottom: 50px;
}