.Contact__container {
  border-radius: 50px;
  background-color: #00578e;
  width: 100%;
  height: auto;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}

.contact__icon__orange {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.contact__columnas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.contact__h3 {
  color: #ffffff;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.contact__p {
  width: 500px;
  height: 78px;
  flex-shrink: 0;
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.6px;
  margin-bottom: 50px;
}

.contact__redes {
  display: flex;
  flex-direction: column;
}

.contact__red {
  display: flex;
  color: #ffffff;
  padding: 10px;
  align-items: center;
}

.contact__red p {
  padding-left: 10px;
}

.contact__columna__uno {
  margin-right: 0;
}
.contact__columna__dos {
  margin-left: 0;
}

.contact__hr {
  margin-top: 50px;
  margin-bottom: 50px;
}
.contact__hr,
.contact__p,
.contact__redes {
  display: none;
}

@media (min-width: 1024px) {
  .contact__hr,
  .contact__p,
  .contact__redes {
    display: block;
  }

  .Contact__container {
    border-radius: 50px;
    background-color: #00578e;
    width: 100%;
    height: auto;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
  }

  .contact__icon__orange {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
  }

  .contact__columnas {
    display: flex;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .contact__h3 {
    color: #ffffff;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 2rem;
  }

  .contact__p {
    width: 500px;
    height: 78px;
    flex-shrink: 0;
    color: #ffffff;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.6px;
    margin-bottom: 50px;
  }

  .contact__redes {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
  }

  .contact__red {
    display: flex;
    color: #ffffff;
    padding: 10px;
    align-items: center;
  }

  .contact__red p {
    padding-left: 10px;
  }

  .contact__columna__uno {
    margin-right: 0rem;
  }
  .contact__columna__dos {
    margin-left: 0rem;
  }

  .contact__hr {
    margin-top: 50px;
    margin-bottom: 50px;
    display: none;
  }
}

@media (min-width: 1200px) {
  .contact__hr,
  .contact__p,
  .contact__redes {
    display: block;
  }

  .Contact__container {
    border-radius: 50px;
    background-color: #00578e;
    width: 100%;
    height: auto;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
  }

  .contact__icon__orange {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
  }

  .contact__columnas {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  .contact__h3 {
    color: #ffffff;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 0;
  }

  .contact__p {
    width: 500px;
    height: 78px;
    flex-shrink: 0;
    color: #ffffff;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.6px;
    margin-bottom: 50px;
  }

  .contact__redes {
    display: flex;
    flex-direction: column;
  }

  .contact__red {
    display: flex;
    color: #ffffff;
    padding: 10px;
    align-items: center;
  }

  .contact__red p {
    padding-left: 10px;
  }

  .contact__columna__uno {
    margin-right: 6rem;
  }
  .contact__columna__dos {
    margin-left: 6rem;
  }

  .contact__hr {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
