.nav_bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    z-index: 2;
    background-color: #00578E;
    padding-left: 120px;
    padding-right: 120px;
    position: relative;
}
.nav_bar .my_collapse .navbar_ul{
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0;
}
.nav_bar .my_collapse .navbar_ul .nav_li{
    list-style: none;
}
.nav_bar .my_collapse .navbar_ul .nav_li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    transition: color 0.4s;
    -webkit-user-drag: none;
    &:hover{
    color: #fff;
    }
    &:active{
    color: #e6ab58;
    }
}
.nav_bar .my_collapse .navbar_ul .nav_bnt_contact{
    position: absolute;
    right: 190px;
    top: 50%;
    transform: translateY(-50%);
}
.nav_bar .my_collapse .navbar_ul .nav_bnt_contact .contact_btn{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: #E38C26;
    width: 160px;
    height: 40px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    &:hover{
        background-color: #e8a04f;
    }
    &:active{
        background-color: #e8a04f;
        color: #FFF;
    }
}
.nav_bar .cart{
    text-decoration: none;
    width: 40px;
    height: 40px;
    background-color: #E38C26;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    position: relative;
    &:hover{
        background-color: #e8a04f;
    }
}
.nav_bar .nav_menu {
    display: none;
}

@media screen and (max-width: 1300px){
    .nav_bar{
        height: 80px;
        padding-left: 96px;
        padding-right: 96px;
    }
    .nav_bar .my_collapse .navbar_ul .nav_bnt_contact{
        right: 160px;
    }
}

@media screen and (max-width :1050px ){
    .nav_bar{
        min-height: 80px;
        height: auto;
        padding: 0;
    }
    .nav_bar .logo_container{
        position: absolute;
        top: 18px;
        left: 50%;
        transform: translateX(-50%);
    }
    .nav_bar .my_collapse .navbar_ul .nav_bnt_contact{
        /* position:static; */
        display: none;
    }
    .nav_bar .cart{
        position: absolute;
        top: 18px;
        right: 20px;
        background-color: transparent;
        &:focus{
            background-color: transparent;
        }
    }
    .nav_bar .nav_menu {
        display: inline-block;
        position: absolute;
        top: 13px;
        left: 65px;
    }
    .nav_bar .my_collapse{
        max-height: 0;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
    }
    .nav_bar .my_collapse .navbar_ul{
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 100vw;
        padding: 20px;
        padding-top: 70px;
        gap: 20px;
    }
    .nav_bar .my_collapse .navbar_ul .line_li{
        width: 99%;
        height: 1px;
        background-color: #fff;
        margin-top: 25px;
    }
    .nav_bar .my_collapse .navbar_ul .nav_li{
        margin: 10px 0;
        width: 100%;
        text-align: center;
        position: relative;
    }
    .nav_bar .my_collapse .navbar_ul .nav_li::after{
        content: "";
        background: rgba(255, 255, 255, 0.20);
        width: 99%;
        height: 1px;
        position: absolute;
        bottom: -2px;
        left: 50%;
        transform: translateX(-50%);

    }
    .nav_bar .my_collapse .navbar_ul .nav_bnt_contact .contact_btn{
        position:static;
    }
    .nav_bar .my_collapse.expanded {
        max-height: 500px;
    }
    .nav_bar .nav_menu .menu_toggle{
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 50px;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s ease;
        gap: 8px;
    }
    .nav_bar .nav_menu .menu_toggle .lines{
        position: relative;
        width: 30px;
        height: 2px;
        background-color: #fff;
        border-radius: 10px;
    }
    .nav_bar .nav_menu .menu_toggle .lines:nth-child(1){
        top: 0;
        transform: rotate(0);
        transition: top 0.1s ease, transform 0.1s ease;
    }
    .nav_bar .nav_menu .menu_toggle .lines:nth-child(2){
        opacity: 1;
        visibility: visible;
        transition: all 0.1s ease;
    }
    .nav_bar .nav_menu .menu_toggle .lines:nth-child(3) {
        top: 0;
        transform: rotate(0);
        transition: top 0.1s ease, transform 0.1s ease;
    }
    .nav_bar .nav_menu .menu_toggle.active .lines:nth-child(1){
        top: 10px;
        width: 30px;
        transform: rotate(45deg);
    }
    .nav_bar .nav_menu .menu_toggle.active .lines:nth-child(2){
        opacity: 0;
        visibility: hidden;
    }
    .nav_bar .nav_menu .menu_toggle.active .lines:nth-child(3){
        top: -10px;
        width: 30px;
        transform: rotate(-45deg);
    }
}
@media screen and (max-width :600px ){
    .nav_bar .logo_container{
        top: 23px;
    }
    .nav_bar .logo_container svg{
        height: 30px;
    }
}