.Footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.navegacion,
.contacto {
  display: none;
}

.Footer__columnas {
  display: flex;
  justify-content: center;
  width: 70%;
}

#maipu__logo {
  width: 100px;
  flex-shrink: 0;
  margin-bottom: 14px;
}

.maipu__text__derechos {
  color: #9c9c9c;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  margin-bottom: 14px;
  width: 385px;
  height: 50px;
  flex-shrink: 0;
}

.maipu__icon__redes {
  width: 30px;
  flex-shrink: 0;
  margin-bottom: 20px;
}

.Footer__columna__uno {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.Footer__columna__dos {
  display: flex;
}

.footer__ul {
  list-style: none;
  padding: 0;
}

.footer__li {
  padding-bottom: 40px;
  color: #9c9c9c;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.navegacion {
  margin-right: 4rem;
  margin-left: 8rem;
}

.redes {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.navegacion__h3,
.contacto__h3 {
  margin-bottom: 2rem;
  color: #00578e;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media (min-width: 1200px) {
  .navegacion,
  .contacto {
    display: block;
  }

  .Footer__container {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
  }

  .Footer__columnas {
    display: flex;
    justify-content: space-between;
    width: 70%;
  }

  #maipu__logo {
    width: 149px;
    flex-shrink: 0;
  }

  .maipu__text__derechos {
    color: #9c9c9c;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    width: 385px;
    height: 50px;
    flex-shrink: 0;
  }

  .maipu__icon__redes {
    width: 30px;
    flex-shrink: 0;
  }

  .Footer__columna__uno {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .Footer__columna__dos {
    display: flex;
  }

  .footer__ul {
    list-style: none;
    padding: 0;
  }

  .footer__li {
    padding-bottom: 40px;
    color: #9c9c9c;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .navegacion {
    margin-right: 4rem;
    margin-left: 8rem;
  }

  .redes {
    display: flex;
    justify-content: space-between;
    width: 50%;
  }

  .navegacion__h3,
  .contacto__h3 {
    margin-bottom: 2rem;
    color: #00578e;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
@media (min-width: 1200px) {
  .Footer__container {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
  }

  .Footer__columnas {
    display: flex;
    justify-content: space-between;
    width: 70%;
  }

  #maipu__logo {
    width: 149px;
    flex-shrink: 0;
  }

  .maipu__text__derechos {
    color: #9c9c9c;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    width: 385px;
    height: 50px;
    flex-shrink: 0;
  }

  .maipu__icon__redes {
    width: 30px;
    flex-shrink: 0;
  }

  .Footer__columna__uno {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .Footer__columna__dos {
    display: flex;
  }

  .footer__ul {
    list-style: none;
    padding: 0;
  }

  .footer__li {
    padding-bottom: 40px;
    color: #9c9c9c;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .navegacion {
    margin-right: 4rem;
    margin-left: 8rem;
  }

  .redes {
    display: flex;
    justify-content: space-between;
    width: 50%;
  }

  .navegacion__h3,
  .contacto__h3 {
    margin-bottom: 2rem;
    color: #00578e;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
